.profile-image-container {
  width: 200px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  background-color: var(--brand-2);
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-description {
  margin-top: 1.2rem;
  margin-bottom: 3rem;
  padding: 0;
  color: var(--mono-3);
  text-align: center;
  font-weight: var(--fw-normal);
  font-size: var(--fs-xs);
  line-height: var(--lh-5);
  font-family: var(--brandType);
}
