.masthead {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 20px;
  position: absolute;
  width: 0px;
  height: 100%;
  padding: 3.2rem 1.6rem;
  visibility: hidden;
  opacity: 0;
  color: var(--white);
  background-color: var(--brand-1);
  transition: all 0.5s ease; }
  @media (min-width: 750px) {
    .masthead {
      width: var(--header-width);
      visibility: visible;
      opacity: 1;
      position: fixed; } }

.header-main-mobile {
  display: flex;
  height: 50px;
  width: 100%;
  padding: 0 1.2rem;
  background-color: var(--brand-1);
  color: var(--brand-2);
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 750px) {
    .header-main-mobile {
      display: none; } }

.toggle-for-mobile {
  width: var(--header-width);
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease; }
  @media (min-width: 750px) {
    .toggle-for-mobile {
      display: none; } }
