.page-title {
  font-size: var(--fs-jumbo);
  font-weight: var(--fw-semi-bold);
  font-family: var(--brandType);
  line-height: var(--lh-5);
  color: var(--brand-2);
  text-transform: uppercase;
  letter-spacing: 1px;
}